<%= form_with(model: item) do |form| %>
    <% if item.errors.any? %>
        <div style="color: red">
            <h2>
                <%= pluralize(item.errors.count, "error" ) %>
                prohibited this item from being saved:
            </h2>

            <ul>
                <% item.errors.each do |error| %>
                    <li>
                        <%= error.full_message %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="container bg-light text-right">
        <div class="form-group field ">
            <%= form.label "Назва" , class: "h4" %><br>
                <%= form.text_field :name, class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
            </div>

            <div class="form-group field">
                <%= form.label "Ціна" , class: "h4" %><br>
                    <%= form.text_field :price, class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
                </div>

                <div class="form-group field">
                    <%= form.label "Опис" , class: "h4" %><br>
                        <%= form.text_area :description, class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
                    </div>

                    <br>
                        <%= form.submit class: 'btn btn-success' %>

                    </div>
                </div>

            </div>
        <% end %>
