<div id="<%=dom_id item %>">
    <div class="col mb-4">
        <div class="card h-88 bg-light">
            <div class="card-body">
                <h5 class="card-title  text-center mb-2"><%= item.name %></h5>
                <div class="card-text border-top pt-2 "><%= item.description.truncate(120) %>
                    <a><%= link_to "Details", item, class: 'card-link' %></a>

                </div>

            </div>
            <div class=" card-body d-flex justify-content-between total font-weight-bold border-top">
                <span>
                    <h5>
                        Price
                    </h5>
                </span>
                <span><%= item.price %>$</span>
            </div>
            <div class="card-footer">
                <% if current_user %>
                    <%= form_with(url: cart_add_path) do |form| %>
                        <%= form.hidden_field :id, value: item.id %>
                        <%= form.number_field  :quantity, value: 1, min:1, class:"form-control mb-2 w-100"%>
                        <%= form.submit "Add to cart",class:"btn  btn-outline-secondary w-100" %>
                        <%end%>
                        <%else%>
                        <%end%>
                    </div>

                </div>
            </div>
        </div>
