<div class="container">
    <ul class="nav justify-content-center py-3 border-bottom">

        <li class="nav-item">
            <%= link_to "Home Page", "/" , class: "nav-link" %>
        </li>
        <% if current_user && current_user.admin?%>

            <li class="nav-item"></li>

            <%end%>

            <% if current_user  %>

                <li class="nav-item">
                    <%= link_to "Cart ", cart_path,  class:'btn btn-outline-success me-3' %>
                </li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%=  current_user.email  %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <%= link_to "Role: " + current_user.role, admin_users_path , class: "dropdown-item disabled" %>
                        </li>
                        <% if current_user.admin?%>

                            <li>
                                <%= link_to "All Users", admin_users_path , class: "dropdown-item" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Add Item", new_item_path , class: "dropdown-item" %>
                            </li>
                            <li>
                                <%= link_to "Show Orders", orders_path , class: "dropdown-item" %>
                            </li>
                            <div class="border-top "></div>
                            <%end%>

                            <li>
                                <%= link_to "Edit profile" , edit_user_registration_path , class: 'dropdown-item' %>

                            </li>
                            <li>
                                <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class:'dropdown-item' %>
                            </li>
                        </ul>
                    </div>
                    <%else%>
                    <li class="nav-item ">
                        <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-secondary  me-2' %></li>
                    <li class="nav-item">
                        <%= link_to "Login", new_user_session_path, class:'btn btn-outline-primary me-2'%></li>
                    <%end%>
                </header>


            </div>
