<div class="container">
    <ul class="nav justify-content-center py-3 border-bottom">

        <li class="nav-item">
            <%= link_to "Головна", "/" , class: "nav-link" %>
        </li>
        <% if current_user && current_user.admin?%>
            <li class="nav-item">
                <%= link_to "Додати айтем", new_item_path , class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Юзери", users_path , class: "nav-link" %>
            </li>
            <%end%>

            <% if current_user  %>
                <li class="nav-item">
                    <%= link_to "Редагувати" , edit_user_registration_path , class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"><%=  current_user.email + " [" + current_user.role + "]" %></a>
                </li>

                <li class="nav-item">
                    <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class:'btn btn-danger mr-0' %>
                </li>
                <%else%>
                <li class="nav-item ">
                    <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-secondary  me-2' %></li>
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class:'btn btn-outline-primary me-2'%></li>
                <%end%>
            </header>


        </div>
